* {
    margin: 0px;
    padding: 0px;
}

:root {
    --white:hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);

    --brown800: hsl(14, 45%, 36%);

    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
    --outfit: "Outfit", sans-serif;
    --young-serif: "Young Serif", serif;
}

html {
  background-color: var(--rose50);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--outfit);
}

h1, h2 {
  font-family: var(--young-serif);
  margin-top: 15px;
}

h2 {
  color: var(--brown800);
}

h3 {
  color: var(--rose800);
  padding-top: 50px;
  padding-left: 50px;
  padding-top: 0px;
}

main {
  background-color: var(--white);
  border-radius: 10px;
  width: 625px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin: 70px 0px;
  padding: 40px;
}

img {
    border-radius: 10px;
    width: 620px;
    margin: 0px 0px;
    display: block;
    
}

ol, ul {
  margin: 30px;
}

li {
    margin-left: 50px;
    margin-bottom: 10px;
}

li::marker {
  color: var(--brown800);
  font-weight: bold;
}

p {
  padding-top: 20px;
}

hr {
  margin-bottom: 20px;
}

table {
  width: 500px;
text-align: left;
margin-top: 30px;
margin-left: 30px;
}

th {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  padding-top: 10px;
}

.description {
  
}

.prep {
  background-color: var(--rose50);
  margin-top: 30px;
  padding-top: 25px;
}

.numbers li {
  margin: 0px;
}

.unordered-list {
  margin: 0px;
}

.table-words {
  font-weight: normal;
}

.table-numbers {
  color: var(--rose800);
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: var(--rose800);
} 

.fa-brands {
  color: var(--rose800);
  font-size: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
}

/* remember to style for mobile devices. desktop 1440px. mobile 375px.*/